.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}

.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider{
    justify-content: center;
    gap: 10px;
}

.plans-container--card{
    max-width: 350px;
    width: 80%;

}

.right-card{
    margin-right: 10%;
}
.left-card{
    margin-left: 10%;
}